* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Abel', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}
.navbar {
    display: flex;
    padding: 20px;
    padding-bottom: 35px;
    background-color: rgb(72, 62, 86);
}
#nav-logo {
    color:white;
    justify-self: start;
}
.nav-link {
    font-size: 20px;
    width: 100px;
}
.nav-link a {
    text-decoration: none;
    text-align: center;
    color: rgb(128, 149, 176);
    transition: color 0.5s;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link a:hover {
    color: white;
    border-bottom: 1px solid white;
}
